.gallery_first-view {
    background-color: black;
    margin-top: 65px;
    /* Prevent vertical gaps */
    line-height: 0;
     
    -webkit-column-count: 3;
    -webkit-column-gap:   0px;
    -moz-column-count:    3;
    -moz-column-gap:      0px;
    column-count:         3;
    column-gap:           0px;
  }

  .gallery_first-view img {
    /* Just in case there are inline attributes */
    /* margin: 5px; */
    width: 100% !important;
    height: auto !important;
  }

  @media (max-width: 1200px) {
    .gallery_first-view {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
    }
  }
  @media (max-width: 1000px) {
    .gallery_first-view {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
    }
  }
  @media (max-width: 800px) {
    .gallery_first-view {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    }
  }
  @media (max-width: 400px) {
    .gallery_first-view {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
    }
  }
    