.home-view {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100vw;
}

.home__first-view {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home_hero-text {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 1;
}

.home_hero-text > h1 {
    margin-bottom: -10px;
    color: #ffffff;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 35px;
    z-index: 1;
}

.home_hero-text > h3 {
    margin: 0px;
    color: #ffffff;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    width: 350px;
    z-index: 1;
}

.home_hero-text > p {
    visibility: hidden;
    
}

.scrollToButton {
    z-index: 1;
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
    cursor: pointer;
}

.home__secound-view {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__posts {
    width: 100%;
    background-color: white;
    box-sizing: border-box;
}

.article__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    
}

.article__content > div {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article__content > div:first-child {
    margin-top: 50px;
    margin-bottom: 50px;
}

.article__container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.article__container-img > img {
    width: auto;
    max-width: 100%;
    height: auto;
}


.article__container-img-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2px;
}

.article__container-img-grid > img {
    width: 100%;
    object-fit: cover;
}


.article__container-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 70%;
    margin-right: 0px;
}

.article__container-text > h1 {
    margin-bottom: 20px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 45px;
}

.article__container-text > p {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
}

.article__container-text > p > a {
    margin-top: 15px;
    text-align: center;
    color: #3B623B;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    display: inline-block;
}


.parallax {
    /* The image used */
    /* background-image: url('../../assets/images/test.jpg'); */
  
    /* Full height */
    height: 400px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* display: flex;
    justify-content: center;
    align-items: center; */
}


@media screen and (min-width: 992px) {    
    
    .home_hero-text {
        margin-top: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        z-index: 1;
    }
    
    .home_hero-text > h1 {
        margin-bottom: -10px;
        color: #ffffff;
        text-align: center;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 35px;
        z-index: 1;
    }
    
    .home_hero-text > h3 {
        margin: 0px;
        color: #ffffff;
        text-align: center;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 60px;
        width: 600px;
        z-index: 1;
    }
    
    .home_hero-text > p {
        visibility: hidden;
        
    }
    
    .article__content {
        display: flex;
        flex-direction: row;
        width: 100%;
        min-height: 600px;
    }
    
    .article__content > div {
        width: 50%;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .article__content > div:first-child {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 10px;
    }
    
    .article__container-img {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 10px;
        padding-left: 10px;
    }
    
    .article__container-img-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    
    .article__container-img-grid > img {
        width: 100%;
        object-fit: cover;
    }
    
    
    .article__container-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 85%;
        height: 70%;
        margin-right: 35px;
    }
    
    .article__container-text > h1 {
        margin-bottom: 20px;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 62px;
        line-height: 45px;
    }
    
    .article__container-text > p {
        text-align: center;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
    }
    
    .article__container-text > p > a {
        margin-top: 15px;
        text-align: center;
        color: #3B623B;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 120%;
        text-decoration: none;
        border-bottom: 1px solid currentColor;
        display: inline-block;
    }
}





