.footer-view {
    width: 100%;
    background-color: #3B623B;
    display: flex;
    justify-content: center;
    bottom: 0px;
    box-sizing: border-box; 
}

.footer-container {
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.footer-container ul {
    list-style: none;
    margin-right: 20px;
    margin-left: 20px;
}


.footer-container li {
    list-style: none;
    line-height: 30px;
    margin: 10px;
}

.footer-Links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.section-heading-bar {
    border-top: 0px solid #ffffff;
    width: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.footer-header {
    text-decoration: none;
    font-style: normal;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 7px;
}


.footer-media-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-media {
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.social-media > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;    
}

.social-media .social-logo {
    height: 30px;
    width: 30px;
    margin-left: 20px;
}

.social-media .store-logo {
    height: 58px;
    width: 119.66407;
    margin-left: 20px;
}

.footer-Copyright {
    margin-bottom: 10px;
}

.footer-Copyright > p{
    color: #ffffff;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

@media screen and (min-width: 992px) {
    .footer-view {
        height: 250px;
    }
    
    .footer-container {
        height: 100%;
    }
    
    .footer-container ul {
        list-style: none;
        margin-right: 20px;
        margin-left: 20px;
    }
    
    .footer-Links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 40%;
        padding: 0px;
    }
    
    .footer-media-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 24%;
    }
    
    .social-media {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .social-media .social-logo {
        height: 40px;
        width: 40px;
        margin-left: 20px;
    }
    

    .footer-Copyright {
        margin-top: 10px;
        margin-bottom: 0px;
    }
}