.nav {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.nav-wrapper {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    /* background-color: #3B623B; */
    height: 68px;
}

.nav-wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.josLogoContainer {
    margin-left: 15px;
}

.nav-wrapper div:last-child {
    display: flex;
    justify-content: flex-end;
}

.nav-wrapper > div > a {
    z-index: 9999;
    text-decoration: none;
    visibility: hidden;
    display: none;
}


.nav-wrapper > div > .hamburgerMenu {
    z-index: 9999;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-right: 20px;
}


.nav-sidebar {
    z-index: 10;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    height: 100vh;
    width: 0px;
    padding-top: 15px;
    background-color: #3B623B;
    transition: all 300ms ease-in-out;
    
}

.nav-sidebar a {
    text-decoration: none;
    padding: 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
}

.nav-sidebar a:hover {
    color: rgba(255, 255, 255, .5);
}

.nav-sidebar div {
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-sidebar img {
    width: 25px;
}

.hidden {
    visibility: hidden;
}

.show {
    visibility: visible;
    /* width: 332px; */
    width: 100%;
}

@media screen and (min-width: 992px) {
    
    .nav-wrapper > div > a {
        z-index: 9999;
        text-decoration: none;
        visibility: visible;
        display: inline-block;
        cursor: pointer;
    }
    
    .nav-sidebar {
        padding-top: 68px;
    }
    
    .nav-wrapper > div > .hamburgerMenu {
        cursor: pointer;
    }
    
    .nav-sidebar {
        height: calc(100vh - 68px);
    }

    .show {
        visibility: visible;
        /* width: 332px; */
        width: 340px;
    }
    
}